{% extends 'base.html' %}

{% block content %}

    <h1>Login</h1>

    <form method="POST">

        <!-- POST the form to the signup view on Submit -->
    <form method="POST">
        {% csrf_token %}

        <!-- Render errors if any -->
        {{ form.non_field_errors }}

        <!-- render form fields manually -->
        <p>
            Username: <br>
            {{ form.username }}
            {{form.username.errors}}
        </p>

        <p>
            Password: <br>
            {{ form.password }}

        </p>

        <input type="submit" value="Submit">
    </form>

    </form>

{% endblock %}